.row1{
  height: 130px;
  /* border: solid 1px ; */
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.P_productpage{
  font-weight: 400 !important;
  font-size: 19px !important;
}

.item{
  
  /* border: solid 1px;  */
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 
}

.product_img{
  width: 100%;
  height: 100%;
}
.itme_img{
  width:100%;
  height: 100%;
}
.bottum_line{
  border-bottom: solid 1px;
  padding: 5px;
}

.Cardbtn{
  width: 76%;
  height: 58px;
  font-size: 25px !important;
  color: white !important;
}
.icone_fa{
  margin: 15px;
}

.list-group{
  margin: 10px;
}

.fa-star{
  float: left;
}



.rr{

 background-color: black;
 float: left;
 
      
}


.rm{
  height: 592px;
  /* background-color: rgb(57, 183, 11); */
  float: left;
  text-align: center!important;
 }
   .rm h1{
    margin: 245px 0px 0px 39px;
    font-size: 24px;
    color: #364253;
}
   

.rm p{
  margin: 20px 0px 0px 0px;
  font-size: 16px;


}
.buttan{
  background-color: gold;
  margin: 30px 0px 0px 0px;
  border: navy;
  height: 50px;
  width: 130px;
  border-radius: 7px;
   font-size: 20px;
 

}
.buttan:hover{
  background-color: rgb(199, 194, 194);
  background-color: whitesmoke;
}


 
 

