.row1{
  height: 130px;
  /* border: solid 1px ; */
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.P_productpage{
  font-weight: 400 !important;
  font-size: 19px !important;
}

.item{
  
  /* border: solid 1px;  */
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 
}

.product_img{
  width: 100%;
  height: 100%;
}
.itme_img{
  width:100%;
  height: 100%;
}
.bottum_line{
  border-bottom: solid 1px;
  padding: 5px;
}

.Cardbtn{
  width: 76%;
  height: 58px;
  font-size: 25px !important;
  color: white !important;
}
.icone_fa{
  margin: 15px;
}

.list-group{
  margin: 10px;
}

.fa-star{
  float: left;


/* card css */

.card_container{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;

}

.additmemore{
  width: 150px;
  height: 50px;
  background-color: aqua;
  margin: auto;
  text-align: none;
  
}
.btnadd{
  background-color: transparent;
  border: none;
}



